<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form asp-action="Registration" asp-controller="Register">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="firstName">First Name</label>
                                        <input type="text" id="firstName" name="FirstName" class="form-control form-control-lg" />
                                        <span class="error-span"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="lastName">Last Name</label>
                                        <input type="text" id="lastName" name="LastName" class="form-control form-control-lg" />
                                        <span class="error-span"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="password">Password</label>
                                        <input type="password" id="password" name="Password" class="form-control form-control-lg" />
                                        <span class="error-span"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="confirmPassword">Confirm Password</label>
                                        <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control form-control-lg" />
                                        <span class="error-span"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <label for="birthdayDate" class="form-label">Birthday</label>
                                        <input type="date" class="form-control form-control-lg" name="Birthday" id="birthdayDate" />
                                        <span class="error-span"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <h6 class="mb-2 pb-1">Gender: </h6>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Gender" id="femaleGender"
                                               value="female" checked />
                                        <label class="form-check-label" for="femaleGender">Female</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Gender" id="maleGender"
                                               value="male" />
                                        <label class="form-check-label" for="maleGender">Male</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Gender" id="otherGender"
                                               value="other" />
                                        <label class="form-check-label" for="otherGender">Other</label>
                                    </div>
                                    <span class="error-span"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="emailAddress">Email</label>
                                        <input type="email" id="emailAddress" name="Email" class="form-control form-control-lg" />
                                        <span class="error-span"></span>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label" for="phoneNumber">Phone Number</label>
                                        <input type="tel" id="phoneNumber" name="PhoneNumber" class="form-control form-control-lg" />
                                        <span class="error-span"></span>
                                    </div>

                                </div>
                            </div>



                            <div class="mt-4 pt-2">
                                <button type="button" class="add-item-btn px-5 py-2" id="registerForm">Register</button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
             $(document).ready(function () {
            $('#registerForm').click(function (event) {
                event.preventDefault(); // Prevent default form submission

                let isValid = true;
                $('.error-span').text(''); // Clear previous error messages

                $('input').each(function () {
                    if ($(this).val().trim() === '') {
                        $(this).next('.error-span').text('This field is required').css('color', 'red');
                        isValid = false;
                    }
                });

                if ($('input[name="Gender"]:checked').length === 0) {
                    $('input[name="Gender"]').last().nextAll('.error-span').text('Please select a gender').css('color', 'red');
                    isValid = false;
                }

                let password = $('#password').val().trim();
                let confirmPassword = $('#confirmPassword').val().trim();

                if (password !== confirmPassword) {
                    $('#confirmPassword').next('.error-span').text('Passwords do not match').css('color', 'red');
                    isValid = false;
                }

                if (isValid) {
                   
                     $('form').submit();
                }
            });
        });

    </script>
}
