<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p><span>Learn More</span> <span class="description-title">About Us</span></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
                <img src="~/img/about.jpg" class="img-fluid mb-4" alt="">
                <div class="book-a-table">
                    <h3>Book a Table</h3>
                    <p>+91 5589855455</p>
                </div>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Welcome to Yummy Food, where we celebrate the rich and diverse flavors of Indian cuisine. Our dishes are crafted with love and the finest ingredients to bring you an unforgettable dining experience.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Experience the authentic taste of India with our traditional recipes.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Enjoy a variety of dishes, from spicy curries to delicious desserts.</span></li>
                        <li><i class="bi bi-check-circle-fill"></i> <span>Our chefs use fresh, locally sourced ingredients to ensure the highest quality.</span></li>
                    </ul>
                    <p>
                        At Yummy Food, we believe in providing a warm and welcoming atmosphere for all our guests. Join us for a meal and discover the true essence of Indian hospitality.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="~/img/about-2.jpg" class="img-fluid" alt="Delicious Indian Cuisine">
                        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<!-- /About Section -->