 <!-- Menu Section -->
<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Our Menu</h2>
        <p><span>Check Our</span> <span class="description-title">Yummy Menu</span></p>
    </div>
    <!-- End Section Title -->

    <div class="container">

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                    <h4>Starters</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
                    <h4>Breakfast</h4>
                </a><!-- End tab nav item -->

            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
                    <h4>Lunch</h4>
                </a>
            </li><!-- End tab nav item -->

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
                    <h4>Dinner</h4>
                </a>
            </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

            <div class="tab-pane fade active show" id="menu-starters">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Starters</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/chicken lollipop.jpg" class="glightbox"><img src="~/img/menu/chicken lollipop.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>chicken Lollipop</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹150
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/garlic paneer.jpg" class="glightbox"><img src="~/img/menu/garlic paneer.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Garlic panner</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹100
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/mushroom fry.jpg" class="glightbox"><img src="~/img/menu/mushroom fry.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Mushroom fry</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹100
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/paneer tikka.jpg" class="glightbox"><img src="~/img/menu/paneer tikka.jpg" class="menu-img img-fluid" alt="" width="300px"></a>
                        <h4>Panner tikka</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹50
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/mushroom pepper fry.jpg" class="glightbox"><img src="~/img/menu/mushroom pepper fry.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Mushroom pepper fry</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹80
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/tandoori chicken.jpg" class="glightbox"><img src="~/img/menu/tandoori chicken.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Tandoori Chicken</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹70
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Starter Menu Content -->

            <div class="tab-pane fade" id="menu-breakfast">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Breakfast</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/Bele_Dose_Recipe_Lentil_Dosa_Recipe.jpg" class="glightbox"><img src="~/img/menu/Bele_Dose_Recipe_Lentil_Dosa_Recipe.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Bole Dose</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹60
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/semiya upma.jpg" class="glightbox"><img src="~/img/menu/semiya upma.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Semiya Upma</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹55
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/Paneer_Bhurji_Pav_Sandwich.jpg" class="glightbox"><img src="~/img/menu/Paneer_Bhurji_Pav_Sandwich.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Paneer Bhurji Pav Sandwich</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹100
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/Potato_Onion_Cheela.jpg" class="glightbox"><img src="~/img/menu/Potato_Onion_Cheela.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Potato Onion Cheela</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹80
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/Tomato_Poha_With_Peas_Recipe.jpg" class="glightbox"><img src="~/img/menu/Tomato_Poha_With_Peas_Recipe.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Tomato Poha with Peas </h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹90
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/vegetable oats upma.jpg" class="glightbox"><img src="~/img/menu/vegetable oats upma.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Vegetable Oats Upma</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹80
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Breakfast Menu Content -->

            <div class="tab-pane fade" id="menu-lunch">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Lunch</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/chicken gravy.jpg" class="glightbox"><img src="~/img/menu/chicken gravy.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Chicken gravy</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹120
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/kadai mushroom.jpg" class="glightbox"><img src="~/img/menu/kadai mushroom.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Kadai Mushroom</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹130
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/matar panner.jpg" class="glightbox"><img src="~/img/menu/matar panner.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Matar Panner</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹100
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/punjabi mutton curry.jpg" class="glightbox"><img src="~/img/menu/punjabi mutton curry.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Punjabi Mutton Curry</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹250
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/panner masla.jfif" class="glightbox"><img src="~/img/menu/panner masla.jfif" class="menu-img img-fluid" alt=""></a>
                        <h4>Panner Masala</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹100
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/tava mutton.jpg" class="glightbox"><img src="~/img/menu/tava mutton.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Tava Mutton</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹220
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Lunch Menu Content -->

            <div class="tab-pane fade" id="menu-dinner">

                <div class="tab-header text-center">
                    <p>Menu</p>
                    <h3>Dinner</h3>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/chicken-tikka-masala-recipe.jpg" class="glightbox"><img src="~/img/menu/chicken-tikka-masala-recipe.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Chicken Tikka Masala</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹150
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/indian-chicken-biryani-recipe.jpg" class="glightbox"><img src="~/img/menu/indian-chicken-biryani-recipe.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Indian Chicken Biryani</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹170
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/mango-chicken-curry-recipe.jpeg" class="glightbox"><img src="~/img/menu/mango-chicken-curry-recipe.jpeg" class="menu-img img-fluid" alt=""></a>
                        <h4>Mango chicken curry</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹150
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/dal-makhani-recipe.jpg" class="glightbox"><img src="~/img/menu/dal-makhani-recipe.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Dal Makhani</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹140
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/Bele_Dose_Recipe_Lentil_Dosa_Recipe.jpg" class="glightbox"><img src="~/img/menu/Bele_Dose_Recipe_Lentil_Dosa_Recipe.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Bele Dose</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹180
                        </p>
                    </div><!-- Menu Item -->

                    <div class="col-lg-4 menu-item">
                        <a href="~/img/menu/Garlic naam bread.jpg" class="glightbox"><img src="~/img/menu/Garlic naam bread.jpg" class="menu-img img-fluid" alt=""></a>
                        <h4>Garlic Naam Bread</h4>
                        <p class="ingredients">
                            "Dream big, work hard, and stay humble."
                        </p>
                        <p class="price">
                            ₹200
                        </p>
                    </div><!-- Menu Item -->

                </div>
            </div><!-- End Dinner Menu Content -->

        </div>

    </div>

</section>
<!-- /Menu Section -->
